body {
    text-align: center;
    background-image: url("./img/fundo.png");
    background-size: 100%;
    color: white;
    font-family: Arial;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: normal;
}

.retrato {
    width: 150px;
    border: solid white 5px;
    border-radius: 10em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.logo {
    width: 80px;
    margin-top: 60px;
}

a {
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.205);
    width: 200px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 20px;
}

.icone {
    width: 15px;
}