@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* html {
    overflow: hidden;
} */

/*-------------- CORES BACKGROUND --------------*/

/* body {

    SLIGHT OCEAN VIEW (azul)
    background: linear-gradient(45deg, #a8c0ff, #3f2b96);
    https://uigradients.com/#SlightOceanView

    WHALE HOUSE (preto, roxo escuro)
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    https://www.eggradients.com/gradient/whale-house

    BORDÔ/BORDEAUX
    #550A21
    https://www.htmlcsscolor.com/hex/550A21

    PRETO, ROXO E AQUA
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,55,116,1) 35%, rgba(0,212,255,1) 100%);

    ROXO E VERMELHO
    background: linear-gradient(45deg, #200122, #6f0000);

    ROXO E AQUA
    background: linear-gradient(to left, #5B2C6F 50%, #4CE2C9 75%);

    LANA DEL REY DARK WINTER COLOUR PALLETE
    https://pin.it/2QpKMdd
    #F0F0F0
    #D7D3CB
    #5D2327
    #272D24
    #2E2120

} */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    /* background: linear-gradient(45deg, #200122, #6f0000); */
    /* background: linear-gradient(to left, #5B2C6F 50%, #4CE2C9 75%); */
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    /* box-shadow: 0 0 3em white; */
}
